
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.png">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/resultstyle.css' />
  <link rel="stylesheet" href="/stylesheets/resultSocial.css">
  <link rel="stylesheet" href="/stylesheets/viewpoint.css">
</head>
<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
  <div id="header" class="">
    <div id="header">
      <div class="container">
      <div class="header-brand hidden-xs">
        <a href="/">ISWIT</a>
      </div>
      <div class="header-search">
        <form id="form" accept-charset="uf-8" id="search" action="/search/query">
          <input type="text" id="bbssearch" name="key" maxlength="40" placeholder="请输入查询语句，如实验室&amp;温度" value="<%= query %>" readonly="readonly" required>  
          <button type="submit" id="sub-button" class="search-button" disabled="disabled">搜 索</button>
        </form>
      </div>
      </div>
    </div>
  </div>

<!-- result -->
<div class="internet_result show" style="margin-top:60px;">

<% if(viewpointData) { %>
<div class="socialContent hide">
  <%= viewpointData.replace(/&lt;/g, "<").replace(/&gt;/g,">").replace(/&nbsp;/g," ").replace(/&amp;/g, "&") %>
</div>
<% } %>

<% if(weatherData) { %>
<div class="container">
  <div class="viewpoint">
    <ul class="main_list">
      <% for(var idx=0; idx<10;idx++) { %>
      <li class="title">景点<%= idx %>:       
        <%= weatherData[idx].title %>
      </li>
        <div class="detail">
          <li class="col-md-2 col-xs-3">风力: <%= weatherData[idx].wind %></li>
          <li class="col-md-2 col-xs-3">湿度: <%= weatherData[idx].humidity %></li>
          <li class="col-md-2 col-xs-3">气压: <%= weatherData[idx].pressure %></li>
          <li class="col-md-2 col-xs-3">能见度: <%= weatherData[idx].visibility %></li>
          <li class="col-md-2 col-xs-3">日出: <%= weatherData[idx].sunrise %></li>
          <li class="col-md-2 col-xs-3">日落: <%= weatherData[idx].sunset %></li>
          <p>天气预报:</p>
          <% var report = weatherData[idx].report; for(var i in report) { %>
          <li class="report">
            <p>日期: <%= report[i].date %></p>
            <p>天气: <%= report[i].weather %></p>
            <span>气温: <%= report[i].low_temp %></span>℃~
            <span><%= report[i].high_temp %></span>℃
          </li>
          <% } %>
        </div>
      <% } %>
    </ul>

    <div class="tempChart" id="tempChart">
      <!-- preloader section -->
      <div class="preloader">
        <div class="sk-spinner sk-spinner-wordpress">
            <span class="sk-inner-circle"></span>
        </div>
      </div>
    </div>

  </div>
</div>
<% } %>

</div>

  <% include footer.ejs %>

  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top fa fa-hand-o-up" role="button" title="" data-toggle="tooltip" data-placement="left" data-original-title="Return to top" style="font-size: 25px;">
    </a>

<script type="text/javascript" src="/javascripts/jquery/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="/javascripts/result.js"></script> -->
<script type="text/javascript" src="/javascripts/resultSocial.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.2.3/echarts.js"></script>
<!-- <script type="text/javascript" src="/javascripts/customed.js" charset="utf-8"></script> -->
<script type="text/javascript" src="/javascripts/viewpoint.js"></script>
<script type="text/javascript" src="/javascripts/preloader.js"></script>
<script type="text/javascript">
  var data = "<%= weatherData %>";
</script>
</body>
</html>